body{
    width: 90%;
    margin: auto 0;
    
}
.wrapper{
    width: 990px;
    margin: 0px 200px;
}
.title{
    width: 400px;
    margin: 0px 100px;
    font-family:Gill, Helvetica, sans-serif; 
    color: #245580;
}
h2{
    color: darkblue;
    padding: 5px 90px;
}
a{
    text-decoration: none;
    color: cadetblue;
}

.myclass{
    padding: 5px 0px;
}
input[type=text],input[type=date]{
    border-style: groove;
}

input[type=button]{
    background-color: lavender;
    color: darkgoldenrod;
    padding: 5px 20px;
}
.home{
    padding: 5px 0px 0px 100px;
}